:root {
    --color-primary: #1e5afa;
    --color-primary-variant: â˜ rgba(0, 0, 240, 0.2);
    --color-white:#fff;
    --color-light:#f4f4f4;
    --color-black:#000f37;
    --color-dark:#575757;

    --bototom-section-padding: 12rem;
    --bototom-section-padding-mobile: 8rem;

    --transition: all 400ms ease;

    --container-width: 84%;
    --container-width-tablet: 90%;
    --container-width-phone: 94%;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--color-black);
    line-height: 1.7;
    background: var(--color-white);
    background: white;
}

.container {
    width: var(--container-width);
    margin: 0 auto;
}

h1 {
    font-size: 5.6rem;
    line-height: var(--color-black);
}

h2 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 1;
}

h3 {
    font-size: 2rem;
    font-weight: 600;
}

.lead {
    width: 63%;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 1.5rem auto 3rem;
}

a {
    color: var(--color-white);
    font-weight: 100%;
}

img {
    width: 100%;
}

.btn {
    padding: 1rem;
    display: inline-block;
    padding: 1rem 2.3;
    background: var(--color-white);
    color: var(--color-black);
    font-weight: 500;
    border-radius: 0.4rem;   
}

.btn-primary {
    background: var(--color-black);
    color: var(--color-white);
    transition: all 300ms ease; 
    border: 1px solid transparent;
}

.btn-primary:hover {
    background: var(--color-white);
    color: var(--color-black);
    border-color: var(--color-black);
}

.avatar {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    overflow: hidden;
}

section {
    max-width: 100vw;
    padding-bottom: var(--bototom-section-padding);
}

/* =============== Navigation Bar =============== */

nav {
    /* background: var(--color-primary); */
    width: 100vw;
    height: 6rem;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.window-scroll {
    background: var(--color-primary);
    border-bottom: 1px solid var(--color-white);
    box-shadow: 0 1rem 1rem var(--color-primary-variant);
}

.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button {
    display: none;
}

.nav_items {
    display: flex;
    gap: 3rem;
}

.nav_logo {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8rem;
    height: 5rem;
}

.nav_signin-signup {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav_logo h3 {
    font-size: 1.7rem;
}

/* =============== Header Section =============== */

header {
    background: url('./images//header\ bg.jpg') no-repeat top center/100vw;
    max-width: 100vw;
    text-align: center;
    padding-bottom: var(--bototom-section-padding);
}

.header_title {
    padding-top: 12rem;
    color: var(--color-white);

}

header p {
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 0;
}

.header_image {
    width: 92%;
    margin: 0 auto;
}

.cta {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.cta a {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-align: left;
    font-weight: 400;
    background: black;
    border-radius: 0.7rem;
    padding: 0.8rem 1.6rem;
}

.cta a:hover {
    background: var(--color-black);
    color: var(--color-white);
}

.cta .logo {
    width: 2rem;
}

.cta a h4 {
    font-weight: 500;
    font-size: 1.4rem;
}

.header_socials {
    background: red;
    position: absolute;
    left: 3rem;
    top: 38%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1.2rem;
}

.header_decorator-1 {
    position: absolute;
}

.header_decorator-2 {
    position: absolute;
    right: 0;
    margin-top: -24rem;
}

/* =============== About Section =============== */

.about_title {
    text-align: center;
    margin-bottom: 5rem;
}

.about_article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    align-items: center;
    margin-top: 3rem;
}

.about_article-title {
    color: var(--color-black);
    margin-bottom: 1.5rem;
}

.about_article .btn {
    padding: 1.5rem;
    margin-top: 2.5rem;
}

#clients {
    text-align: center;
}

.client_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.client_container div {
    background: var(--color-light);
    display: grid;
    place-items: center;
    height: 10rem;
    padding: 3rem;
    transition: all 300ms ease;
}

.client_container div:hover {
    background: var(--color-white);
}


/* =============== Download Section =============== */

.downloadApp_container {
    display: grid;
    grid-template-columns: 40% 56%;
    align-items: center;
}

.downloadApp_content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cta {
    margin-top: 2rem;
}

/* =============== Subscribe Section =============== */

.subscribe_container {
    background: var(--color-primary); 
    color: var(--color-white);
    display: flex; 
    align-items: center;
    padding: 4rem;
    height: 20rem;
    border-radius: 2rem;
}

.subscribe_text p {
    margin-top: 1.4rem;
    width:80%;
}

.subscribe__btn {
    width: 23%;
    text-align: center;
}

/* =============== Footer Section =============== */

.footer {
    background: var(--color-primary);
    padding-top: 5rem;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.8);
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 5rem;
}

.footer__container > div h4 {
    margin-bottom: 1.6rem;
    color: var(--color-white);
}

.footer_logo h3 {
    font-size: 1.8rem;
}

.footer_1 p {
    margin: 1rem 0 2rem;
    width: 20rem;
}

.footer_subscribe {
    background: transparent;
    border: 1px solid var(--color-light);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    width: 80%;
}

.footer_subscribe input {
    background: transparent;
    color: var(--color-white);
    margin-left: 1rem;
}

.footer_subscribe input::placeholder {
    color: var(--color-light);
}

.footer_subscribe button {
    background: var(--color-white);
    color: var(--color-black);
    transition: all 300ms ease;
    width: 3rem;
    height: 100%;
    font-size: 1.6rem;
}

.footer_subscribe button:hover {
    background: var(--color-light);
    color: var(--color-primary);
    cursor: pointer;
}

footer ul li {
    margin-bottom: 1rem;
}

footer ul li a:hover { 
    color: var(--color-white);
    text-decoration: underline;
}

.footer_4 p {
    margin-bottom: 1.6rem;
}

.footer_socials { 
    display: flex;
    gap: 1rem;
    font-size: 1.6rem;
}

.copyright {
    text-align: center;
    margin-top: 4rem;
    padding: 1.2rem;
    color: var(--color-white);
    border-top: 1px solid var(--color-light);
}

/* =============== Contact Page =============== */

nav {
    background: var(--color-primary);
}

#contact {
    padding-top: 10rem;
}

#contact .container {
    display: grid;
    grid-template-columns: 20rem auto;
    gap: 5rem;
}

#contact .container aside {
    background: var(--color-light);
    padding: 2rem;
    font-size: 0.9rem;
    color: var(--color-dark);
}

#contact .container aside h4 {
    background: var(--color-black);
    padding: 1.8rem;
    margin-bottom: 0.5rem;
    color: var(--color-dark);
    font-weight: 600;
}


#contact aside article {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

#contact aside article:last-child {
    margin-bottom: 0;
}

#contact aside article i {
    color: var(--color-black);
    font-size: 1.2rem;
}

#contact aside article h5 {
    font-weight: 600;
    color: var(--color-black);
}

#contact form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#contact form input, #contact textarea {
    padding: 1.4rem;
    background: var(--color-light);
}

#contact form input::placeholder, 
#contact textarea::placeholder {
    padding: 1.4rem;
    background-color: #b8b6b6;
}

#contact form input::focus, 
#contact textarea::focus {
    background: var(--color-);
    color: var(--color-white);
}

#contact textarea {
    height: 10rem;
}

#contact form button {
    width: 8rem;
    background: var(--color-black);
    color: var(--color-white);
    cursor: pointer;
}

/* =============== Media Queries =============== */

/* @media screen and (max-width: 600px) {
    #contact .container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
} */

/* =============== Media Queries (Tablets) =============== */

@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-tablet);
    }

    h1 {
        font-size: 4.2rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.9rem;
    }

    .lead {
        width: 72%;
        margin-bottom: 3rem;
    }
    
    section {
        padding-bottom: var(--bototom-section-padding-mobile);
    }

    .nav_container {
        position: relative;
        width: 100vw;
    }

    .nav_logo {
        margin-left: 2rem;
        position: relative;
    }

    .nav_items {
        position: fixed;
        top: 6rem;
        right: 0;
        background: var(--color-white);
        height: max-content;
        width: 18rem;
        box-shadow: -2rem 2rem 3rem rgba(0, 0, 240, 0.2);
        flex-direction: column;
        gap: 0;
        z-index: 3;
        display: none;
    }

    .nav_items li {
        width: 100%;
        height: 6rem;
    }

    .nav_items li a {
        color: var(--color-black);
        width: 100%;
        height: 100%;
        display: block;
        padding-left: 3rem;
        display: flex;
        align-items: center;
        transition: all 400ms ease;
    }

    .nav_items li a:hover {
        background: var(--color-primary);
        color: var(--color-white);
    }

    .nav_sigin-signup {
        display: none;
    }

    .nav_logo {
        position: relative;
        left: 0;
        transform: translate(0);
    }

    nav button {
        display: inline-block;
        margin-right: 1.4rem;
        background: transparent;
        color: var(--color-white);
        cursor: pointer;
    }

    nav button#close-button {
        display: none;
    }

    nav button i {
        font-size: 2.4rem;
    }

    header {
        padding-bottom: var(--bototom-section-padding-mobile);
        background: var(--color-primary);
    }

    .header_title {
        margin-bottom: 1.5rem;
    }

    .header_image {
        display: none;
    }

    .cta {
        margin-top: 3rem;
    }
    .header_socials {
        top: 24%;
        gap: 1rem;
        font-size: 1rem;
    }

    .header_decorator-2 {
        display: none;
    }

    #about {
        margin-top: 7rem;
    }

    .about_article {
        margin: 0 auto;
    }

    .client_container {
        gap: 1rem;
    }

    #downloadApp {
        text-align: center;
    }

    #downloadApp .cta {
        flex-direction: column;
        gap: 1rem;
        margin: 0 auto;
    }
    
    .subscribe_container {
        flex-direction: column;
        height: auto;
        gap: 5rem;
        padding: 3rem;
        font-size: 1.2rem;
    }

    .subscribe_container p {
        width: 94%;
    }

    .footer__container {
        grid-template-columns: 1fr 1fr;
    }
}

/* =============== Media Queries (Phones) =============== */

@media screen and (max-width: 600px) {
    html {
        font-size: 14px;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    .lead {
        width: var(--container-width-phone);
    }
    .nav_logo {
        margin-left: 1rem;
    }

    .nav_items li a {
        justify-content: center;
        padding: 0;
    }

    nav button {
        display: inline-block;
        margin-right: 0.7rem;
        background: transparent;
        color: var(--color-white);
        cursor: pointer;
    }

    .header_title {
        padding-top: 11rem;
    }

    .cta {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    
    .header_socials {
        display: none;
    }

    .about_article {
        grid-template-columns: 1fr;
        margin-top: 5rem;
        text-align: center;
        gap: 0;
    }

    .about_article:nth-child(2) .about_image {
        grid-row: 1;
    }

    .client_container {
        grid-template-columns: 1fr 1fr;
        gap: 8px;
    }

    .footer__container {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 2rem;
    }

    .footer_1 {
        width: var(--container-width-phone);
    }

    .footer_1 p {
        width: var(--container-width-phone);
        margin: 0 auto 3rem;
    }

    .footer_subscribe {
        display: none;
    }

    .footer_socials {
        justify-content: center;
    }
}
